@charset "ISO-8859-1";

/* --- Corpo da página --- */
body {
	background: linear-gradient(60deg,#90EE90,#DCDCDC);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}



/* --- Imagem do Logo ---  */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/trevo_logo.png') no-repeat;
	background-size: contain;
	color: transparent;
}

/*  --- nav-bar ---   */

nav.navbar-transparente {
	padding: 18px 0px;
	background: rgba(0, 255, 0, 0.7);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;
}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
	h1 {
	    font-size: 40px; 
  	}
  	.btn-custom {
    	margin: 10px 15px;
	}
}

/* sm */
@media screen and (min-width: 768px) {
    h1 {
	    font-size: 50px; 
  	}

}

/* md */
@media screen and (min-width: 992px) {
    h1 {
	    font-size: 60px; 
  	}
}

/* lg */
@media screen and (min-width: 1200px) {
    h1 {
	    font-size: 80px; 
  	}
}
/* Fim Media queries */

#servicos {
	background: #a3b98e;
	padding-top: 20px;
	padding-bottom: 20px;
}